.userComponent{
    margin-top: 2em;
    height: 10vh;
    width: 25vw;
    background-color: #CEA032;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.userListItem{
    text-align: center;  
}